*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
    font-size: 1.1em;
    background: #acacac;
    transition: all 0.5s;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: #e7e7e7;
}

a:hover {
    background: #887705;
}



.flex_container {
    display: flex;
    flex-flow: wrap;
    background: #b7adc3;
}



main {
    width: 100%;
    padding: 1rem;
    background: #548593;
    height: 20rem;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    padding: 1rem;
    order: -10;
    background: #63e7d3;
    background-image: url("img/IMG_5705.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}

.logo_image {
    max-width: 100px;
    max-height: 100px;
    margin-right: 1rem;
    /*margin: 1rem;*/
}
#h1_inHead {
    background-color: rgba(153, 153, 153, 0.71);
    padding: 10px;
    margin: 0;
}

aside{
    visibility: hidden;
    height: 0em;
}

nav {
    width: 100%;
    height: 100%;
}

.nav_bar {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    width: 100%;

}

.nav_elem {
    padding: 1rem;
    flex: 1 1 auto;
    text-align: center;
    min-width: 160px;
}

footer {
    width: 100%;
    text-align: center;
    background: #8689b1;
}

.foot_elem {
}

@media screen and (min-width: 600px) {
    body {
        font-size: 1.7em;
    }
    nav {
        order: -11;
        flex: 1 1 100%;
    }

    .flex_container {
        display: flex;
        flex-flow: wrap;
        background: #b7adc3;
        /*min-height: 100vh;*/
    }


    main {
        min-height: 30rem;
    }
    .logo_image {
        max-width: 200px;
        max-height: 200px;
        /*margin: 1rem;*/
    }

    aside{
        visibility: visible;
        height: auto;
        padding: 1rem;
    }

}

@media screen and (min-width: 900px) {
    main {
        /*flex: 2 1 40%;*/
        width: 80%;
    }
    aside{
        /*flex: 1 1 40%;*/
        visibility: visible;
        height: auto;
        padding: 1rem;
        width: 20%;
        max-width: 300px;
        min-width: 250px;
    }

    header {
        height: 800px;
        align-content: flex-end;
        align-items: stretch;
    }

    .logo_image {
        /*min-height: 210px;*/
        max-height: 150px;
        padding: 0;
        margin: 0;
    }

    #h1_inHead {
        margin: 0;
        padding: 40px;
    }
}
